<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <h1>OAuth Approval</h1>
    <p th:text="Do you authorize '${clientId}' to access your protected resources?"/>
    <form id='confirmationForm' name='confirmationForm' action='/oauth/authorize' method='post'>
        <input
            name='user_oauth_approval' value='true' type='hidden'/>
        <input type='hidden' name='_csrf' th:value='${_csrf.getToken()}'/>
        <ul>
            <li>
                <div class='form-group'>scope.pc:
                    <input type='radio' name='scope.pc' value='true'>Approve</input>
                    <input type='radio' name='scope.pc' value='false' checked>Deny</input></div>
            </li>
            <li>
                <div class='form-group'>scope.mobile:
                    <input type='radio' name='scope.mobile' value='true'>Approve</input>
                    <input type='radio' name='scope.mobile' value='false' checked>Deny</input></div>
            </li>
        </ul>
        <label><input name='authorize' value='Authorize' type='submit'/></label></form>
    </body>
</html>